<h1>Make your form here</h1>

<form action="/pirates" method="post">
  <label>Pirate Name</label>
  <br>
  <input type="text" id="pirate[name]" name="pirate[name]">
  <br>
  <label>Pirate Weight</label>
  <br>
  <input type="text" id="pirate[weight]" name="pirate[weight]">
  <br>
  <label>Pirate Height</label>
  <br>
  <input type="text" id="pirate[height]" name="pirate[height]">
  <br>
  <label>Ship Name 1</label>
  <br>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <br>
  <label>Ship Type 1 </label>
  <br>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <br>
  <label>Ship Booty 1</label>
  <br>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  <br>
  <label>Ship Name 2</label>
  <br>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <br>
  <label>Ship Type 2</label>
  <br>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <br>
  <label>Ship Booty 2</label>
  <br>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <br>
  <br>
  <input type="submit" id="Submit">
</form>
